<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="ListController">
      <ion-header-bar class="bar-positive">
        <h1 class="title">Restro</h1>
      </ion-header-bar>
      <div class="bar bar-subheader 
        item-input-inset bar-light">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search"  ng-model="query" placeholder="Search">
        </label>
      </div>
      <ion-content ng-controller="ListController" 
        class="has-subheader">
		<ion-refresher on-refresh="doRefresh()">
		</ion-refresher>
        <ion-list>
          <ion-item ng-repeat='item in menu | filter: query'
          class=" item-image item-text-wrap list card item-icon-right | filter: { name: whichmenu }">
		  
            <img  ng-src="img/{{item.image}}" class="item-image-wrapper" width="100%"  />
			<h1>{{item.name}}</h1>
            <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)" ng-show="item.star"
			style=" float: right;margin-left: 289px;position: absolute;"></button>
			<ion-option-button class="button-dark" ng-click="toggleStar(item)">
			<i class="icon ion-star"></i></ion-option-button>
			
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
